extends layout

block content
  h1= channel.name

  table(id="example", class="table table-striped table-bordered", cellspacing="0", width="100%")
    thead
      tr
        th Nom
        if(channel.type == 2)
          th Série
          th Saison & Episode
        th Durée
        th Année
        th Taille
    tbody
      each video, i in videos
        tr
          td
            a(href="/movie/#{video.id}")= video.title
          if(channel.type == 2)
            td
              if(typeof video.info_meta !== 'undefined' && typeof video.info_meta.show !== 'undefined')
              | #{video.info_meta.show}
            td
              if(typeof video.season_episode !== 'undefined')
              | #{video.season_episode}
          td= video.duree
          td= video.year
          td= video.size
      script.
        $(document).ready(function() {
          $('#example').DataTable();
        });
