extends layout

block content
  h1= movie.title

  label Note
  p= movie.rating

  label Télécharger
  br
  each file, i in movie.file
    a(href="/file/#{file.id}/#{file.filename}")
      #{file.size} #{file.filename} 
    br

  label Résumé
  p= movie.summary
  br

  label Genre
  each tag, i in movie.tags_genre
    if(tag!='')
      span= tag
      | &nbsp;
  br

  label Acteurs
  each tag, i in movie.tags_star
    if(tag!='')
      span= tag
      | &nbsp;
  br
